player-connection-mode=Connect
player-connection-guid=20932676
player-connection-debug=0
player-connection-project-name=BasicEntitiesURPTemplate
player-connection-wait-timeout=-1
player-connection-ip=192.168.1.9
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
profiler-enable-deep-profiling-support=1
build-guid=ce76564dd8fe43bd828426872716fe66
